{% extends "base_generic.html" %}
{% block head %}
   {% load chartit %}
   {{ chart_list|load_charts:"chart_1" }}
   {% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <h1>Monitoramentos</h1></br>
    {% if monitoramento_list %}
    <ul>
	<form action="{% url 'monitoramento:coletar' %}" method="post">
        {% for monitoramento in object_list %}
	    <li><a href="{% url 'monitoramento:monitoramento_detail' pk=monitoramento.pk filtro=0 %}"> {{ monitoramento.palavra }}</a></li>
	    <button name="palavra" type="submit" value="{{ monitoramento.pk }}">Coletar</button></br>
	{% endfor %}
    </ul>
    </form>
    </br>
    </br>
    <div style="margin:0 auto;position:relative;width:400px" id="chart_1"> Chart will be rendered here </div>
    {% else %}
        <p>Nenhum monitoramento cadastrado.</p>
    {% endif %}
  {% endif %}
{% endblock %}
